html {
    font-size: 10px;
    background: url(https://cdn.es.tiendas.com/images/LqWeu2YRst7OCAg5XmZ9EAef%2BZeRXL1Am2vbOQvfxeNonY7vOvpfh1Htl7YcP2tVLCVHaOx7lerKs%2BAx7c0t%2FN2w3i5L4pbnD0JhZw13L%2FMc5RNJzKbLNNoO9ENBqUVvY0HIoYXghgMuywSEOBcGrg%3D%3D.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #button{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 20px;
    padding: 1rem .5rem;
    transition: all .07s ease;
    
    text-align: center;
    color: white;
    background: rgb(172, 18, 18);
    text-shadow: 0 0 .5rem black;
    left: 20px;
    top: 110px;
  }

  .button {
    text-align: center;
    width: 20px;
    height: 10px;
    position: fixed;
  }
  .newnote {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    height: 5rem;
    text-align: center;
    color: white;
    background: rgb(172, 18, 18);
    text-shadow: 0 0 .5rem black;
  }
  
  #trash{
    width: 100px;
    height: 100px;
    left: 20px;
    top: 110px;
    position: absolute;
  }
  .notes {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .ui-resizable {
    position: absolute !important;
  }
  .note {
    border: .1rem solid black;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    position: fixed;
    width: 15rem;
    height: 30rem;
    color: white;
    background: rgba(0,0,0,1);
    text-shadow: 0 0 .5rem black;
  }

  .title {
    text-shadow: 0 0 .5rem black;
    text-align: center;
    font-weight: 700;
    font-size: large;
  }

  .body {
    text-shadow: 0 0 .5rem black;
    font-weight: normal;
    font-size: medium;
    position: static;
  }
  