<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>twello</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel = "stylesheet" type="text/css"/>
    <script src="{{ url_for('static', filename='jquery-ui-1.12.1/external/jquery/jquery.js') }}" type = "text/javascript"></script>
    <script src="{{ url_for('static', filename='jquery-ui-1.12.1/jquery-ui.min.js') }}" type="text/javascript"></script>
</head>
<body>
    <!-- initialize tools-->
    <div id = "newnote" class="newnote">
        click for new note
    </div>
    
    <img src="{{ url_for('static', filename='delete.png') }}" id ="trash">
    
    <div id="noteslist" class="notes">
    </div>

    <script src="{{ url_for('static', filename='newnote.js') }}"></script>
    <script src="{{ url_for('static', filename='initialisation.js') }}"></script>
    <script>
        // trashbin script
        $('#trash').droppable({
        drop:function(event,ui){
            $( ui.draggable ).remove();
        }
    });
    </script>

    <script>
        function updatePosition(e){
            $.ajax({
            url: '/addTask/',
            data:"test4",
            type: 'POST',
            success: function(response){
                console.log(response);
                notecollection=response;
                checker = true;

            },
            error: function(error){
                console.log(error);
            }
        })

        }
        var noteclass = document.getElementsByClassName('note');
        for(var i=0;i<noteclass.length;i++){
            noteclass[i].addEventListener("move",fuction(e){
                console.log(e);
            })
        }
    </script>


    
</body>

</html>