<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>twello</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel = "stylesheet" type="text/css"/>
    <script src="{{ url_for('static', filename='jquery-ui-1.12.1/external/jquery/jquery.js') }}" type = "text/javascript"></script>
    <script src="{{ url_for('static', filename='jquery-ui-1.12.1/jquery-ui.min.js') }}" type="text/javascript"></script>
</head>
<body>
    <!-- initialize tools-->
    <div id = "newnote" class="newnote">
        click for new note
    </div>

    <button type="button" id="update">update</button>

    <img src="{{ url_for('static', filename='delete.png') }}" id ="trash">
    
    <div id="noteslist" class="notes">
    </div>


    <script src="{{ url_for('static', filename='newnote.js') }}"></script>
    <script src="{{ url_for('static', filename='initialisation.js') }}"></script>
    <script>
        // trashbin script
        $('#trash').droppable({
        drop:function(event,ui){
            $( ui.draggable ).remove();
        }
    });
    </script>

    <script>
        function getJSON(){
            var totalnotes = document.getElementsByClassName('note');
            var jsonobject = {};
            for(var j=0;j<totalnotes.length;j++){
                var actualsection = totalnotes[j];
                var title = actualsection.getElementsByClassName('title')[0].innerHTML;
                var body = actualsection.getElementsByClassName('body');
                var actualbody = {};
                for(var i=0; i<body.length;i++){
                    var text = body[i].innerHTML;
                    var keyvalue = text.split(":");
                    actualbody[keyvalue[0]]=keyvalue[1];
                }
                var children = actualsection["body"];
                jsonobject[title]={'left':actualsection.style.left,'top':actualsection.style.top,'width':actualsection.style.width,'height':actualsection.style.height,'body':actualbody,'color':actualsection.style.backgroundColor,'title':title};
            }
            
            var finaljsonobject = {'board_name':'{{ board }}','data':jsonobject};

            $.ajax({
            url: '/addTask/',
            data: JSON.stringify(finaljsonobject),
            type: 'POST',
            success: function(response){
                console.log(response);

            },
            error: function(error){
                console.log(error);
            }
        })


        }
        function updatePosition(e,){
        }
        var buttonupdate = document.getElementById("update");
        buttonupdate.addEventListener('click',getJSON);
        
    </script>


    
</body>

</html>