<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>twello</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel = "stylesheet" type="text/css"/>
    <script src="{{ url_for('static', filename='jquery-ui-1.12.1/external/jquery/jquery.js') }}" type = "text/javascript"></script>
    <script src="{{ url_for('static', filename='jquery-ui-1.12.1/jquery-ui.min.js') }}" type="text/javascript"></script>
</head>
<body>
    <!-- initialize tools-->
    <div id = "newnote" class="newnote">
        click for new note
    </div>

    <button type="button" id="update">update</button>

    <img src="{{ url_for('static', filename='delete.png') }}" id ="trash">
    
    <div id="noteslist" class="notes">
    </div>


    <script src="{{ url_for('static', filename='newnote.js') }}"></script>
    <script>
    fetchNotes().then(function(val){
        populateNotes(val);
    });
    // fetchMessages().then()
    // populateMessages();
    // function populateMessages(){
    //     var json = '{{ pinned_data|safe }}';
    //     console.log(JSON.stringify(json));

    //     for(msg in json){
    //         console.log(json[msg]);
    //     }
    // }


    async function fetchNotes(){
        //fetch from firebase the notecollection, and parse document name as its title
        return $.ajax({
            url: '/',
            data:"{{ board }}",
            type: 'POST',
            success: function(response){
                console.log(response);
            },
            error: function(error){
                console.log(error);
            }
        });
    
    }

    function populateNotes(notecollection){
        const keys = Object.keys(notecollection);

        for(key in keys){  
            var notecontent = notecollection[keys[key]];
            addNewNote(notecontent["title"],notecontent["body"],notecontent["color"],notecontent["height"],notecontent["width"],notecontent["left"],notecontent["top"]);
        }
    }

    function addnewText(e){
        var content = "content here: emoji here" ; 
        var body1 = document.createElement("body");
        body1.innerHTML = content;
        body1.contentEditable="true";
        body1.classList.add('body');
        var listofbody = this.parentNode.getElementsByClassName('body');
        this.parentNode.insertBefore(body1,listofbody[listofbody.length-1].nextSibling);
        $('.body').draggable();

    }
    function addNewNote(title="title",body={"enter text here":"emoji"},color="green",height="300px",width="100px",left="500px",top="500px"){
        var notenode = document.createElement('div');                
        notenode.classList.add('note');
        notenode.contentEditable='true';
        var button = document.createElement('button');
        button.style.right = '0px';
        button.style.top = '0px';
        notenode.appendChild(button);
        button.addEventListener('click',addnewText);
        var header = document.createElement("header");
        header.innerHTML = title;
        header.contentEditable = "true";
        header.classList.add('title');
        notenode.appendChild(header);
        const keys = Object.keys(body);
        for(key in keys){
            var content = keys[key] + ": " +body[keys[key]] ; 
            var body1 = document.createElement("body");
            body1.innerHTML = content;
            body1.contentEditable="true";
            body1.classList.add('body');
            notenode.appendChild(body1);
        }    
        notenode.style.backgroundColor = color;
        notenode.style.height=height;
        notenode.style.width=width;
        notenode.style.left=left;
        notenode.style.top=top;

        document.getElementById("noteslist").appendChild(notenode);
        $('.note').draggable();
        $('.note').droppable({
            drop:function(event,ui){
                console.log(this);
                var listofbody = this.getElementsByClassName('body');
                    
                this.insertBefore($( ui.draggable )[0],listofbody[listofbody.length-1].nextSibling);
                listofbody= this.getElementsByClassName('body');
                listofbody[listofbody.length-1].style.left = "0px";
                listofbody[listofbody.length-1].style.top = "0px";

                
            }
        });
        $('.body').draggable();
        $('.note').resizable({'aspectRatio' :true});
    }

    </script>
    <script>
        // trashbin script
        $('#trash').droppable({
        drop:function(event,ui){
            $( ui.draggable ).remove();
        }
    });
    </script>

    <script>
        function getJSON(){
            var totalnotes = document.getElementsByClassName('note');
            var jsonobject = {};
            for(var j=0;j<totalnotes.length;j++){
                var actualsection = totalnotes[j];
                var title = actualsection.getElementsByClassName('title')[0].innerHTML;
                var body = actualsection.getElementsByClassName('body');
                var actualbody = {};
                for(var i=0; i<body.length;i++){
                    var text = body[i].innerHTML;
                    var keyvalue = text.split(":");
                    actualbody[keyvalue[0]]=keyvalue[1];
                }
                var children = actualsection["body"];
                jsonobject[title]={'left':actualsection.style.left,'top':actualsection.style.top,'width':actualsection.style.width,'height':actualsection.style.height,'body':actualbody,'color':actualsection.style.backgroundColor,'title':title};
            }
            
            var finaljsonobject = {'board_name':'{{ board }}','data':jsonobject};

            $.ajax({
            url: '/addTask/',
            data: JSON.stringify(finaljsonobject),
            type: 'POST',
            success: function(response){
                console.log(response);

            },
            error: function(error){
                console.log(error);
            }
        })


        }
        function updatePosition(e,){
        }
        var buttonupdate = document.getElementById("update");
        buttonupdate.addEventListener('click',getJSON);
        
    </script>


    
</body>

</html>